<h2 mat-dialog-title>Name</h2>

<mat-dialog-content [formGroup]="form">
    

        
        


    <mat-form-field>
        <input matInput formControlName="description">
        
    </mat-form-field>
    <mat-form-field>
            <mat-select [ngModel]="storyType" formControlName="storyType">
                    <mat-option *ngFor="let option of options" [value]="option">
                            {{ option }}
                          </mat-option>
        </mat-select>
    </mat-form-field>
    
    
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Add</button>
</mat-dialog-actions>