@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
::ng-deep .cdk-overlay-container {
    /* Do you changes here */
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: gray;
    height: 30%;
    z-index: 100; 
}
mat-form-field{
    background:whitesmoke;
    font-size: 15px;
    padding: 5px;
    
}
mat-select{
    width: 100px;
    background: green;
    z-index: 1000000; 
}
