
<div class="row">
<div class="column">
  <form novalidate class="simple-form" ng-if="story" (keyup)="onKeyUp($event)"
  ondrop="drop(event)" 
  
  >
  
  >
    <button (click)="onSaveStory()" ><i class="fa fa-upload"></i></button>
            
      <input type="text" [(ngModel)]="story.Name"  [ngModelOptions]="{standalone: true}" [value]="story.Name"/>
      <!-- <link rel='stylesheet' href='C:\Angular\htest\node_modules\font-awesome\css\font-awesome.min.css'> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <app-ngx-editor  
      [config]="editorConfig" 
      [placeholder]="'Enter text here...'" 
      [spellcheck]="true" 
      [(ngModel)]="story.Content" 
      [ngModelOptions]="{standalone: true}"
      style="font-size: 15px"
      
      >
      
      </app-ngx-editor>
      <i class="fa fa-car" draggable="true"></i>
<i class="fa fa-angle-double-down" style="font-size:48px;" draggable="true"></i>

<div><span>{{keypresses}}</span></div>


</form>
</div>
<div class="column">
  <button (click)="onNewStoryEntry()" ><i class="fa fa-plus-circle"></i></button>
  <div class="panel-body panel-scroll">
    <ul >
      <li *ngFor="let story of story.CollectionList" (click)="select(story)" draggable="true" droppable (onDrop)=onItemDrop($event)>{{story.Name}}
        
      </li>
    </ul>
  </div>
</div>
  <!-- <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre> -->
  
  

