      <div class="row">
      <div class="column">
          <form  [formGroup]="form" >
          <div class="pane panel-primary">
              <div class="panel-body panel-scroll">
                <ul >
                  <li *ngFor="let story of stories | async" (click)="select(story)" draggable="true" droppable (onDrop)=onItemDrop($event)>{{story.Name}}
                    
                  </li>
                </ul>
              </div>
        </div>
      </form>
      </div>

        <div class="column">
          <app-story-details *ngIf="selectedStory" [story]="selectedStory"></app-story-details>
          
        </div>
        
        
      
    
    

    <!-- <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo">
      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power" required>
          <option *ngFor="let story of stories | async" [value]="pow">{{story.Name}}</option>
        </select>
      </div>
    </div> -->

    <!-- <button type="submit" class="btn btn-success">Submit</button> -->

  