@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



.conditionalScroll{
    width: 100%;
    height: 100%; /*change to your liking*/
    overflow: scroll;
}
/* .form-group {
    height: 10px !important;
    max-height: 10px !important;
    font-size: 10px;
} */
.column {
    float: left;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




.primary-color {
    color: #3F51B5!important;
  }
.accent-color {
    color: #FF4081!important;
  }
.background-primary-color {
    background-color: #3F51B5!important;
  }
.background-accent-color {
    background-color: #FF4081!important;
  }
.white-text {
    color: #FFF!important;
}

/* .panes-separator {
    width: 2%;
    background: red;
    position: relative;
    cursor: col-resize;
} */

mat-list-item{
    
    
    
    color: whitesmoke;
    border-bottom: 1px solid red;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;
    list-style-type: none;  

}

   mat-list-item:hover{
       border-bottom: 1px solid blue;
       background: white;
       color: blue;
       -webkit-text-fill-color: blue;
       left: 20px;
       list-style-type: square type;
       
   }
   mat-list-item:selected {
    color: white;
    -webkit-box-shadow:inset 0px 0px 0px 25px #b0b0b0;
    -moz-box-shadow:inset 0px 0px 0px 25px #b0b0b0;
    box-shadow:inset 10px 0px 0px 25px #b0b0b0;
    }
    .list .mat-list .mat-list-item.mat-multi-line .mat-list-item-content{
        padding-top: 10;
        padding-bottom: 10px;
    }